.photo {
  margin: 5px auto 24px;
}

.no-scroll {
  overflow: hidden !important;
}

.custom-hero {
  background-color: #1b1d1e;
  background-image: url("../images/noise.png");
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #292929;
}

.paragraph {
  text-indent: 50px;
}