@import "./fonts.scss";
@import "./theme.scss";

@import "~bulma/bulma";

.photo {
  margin: 5px auto 24px;
}

.card {
  margin: 16px 0;
  box-shadow: none;
}

.card:hover {
  background-color: rgba(#d4d4d4, 0.15);
}

.no-scroll {
  overflow: hidden !important;
}

.custom-hero {
  background-color: #1b1d1e;
  background-image: url("../images/noise.png");
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #292929;
}

.custom-hr {
  width: 40px;
  margin: auto;
}

.custom-hr2 {
  width: 230px;
  margin: auto;
  margin-bottom: 15px;
}

.custom-hr3 {
  width: 100px;
  margin: auto;
  margin-bottom: 15px;
}

.custom-hr4 {
  width: 280px;
  margin: auto;
  margin-bottom: 15px;
}

.custom-hr5 {
  width: 40px;
  margin: auto;
  margin-bottom: 15px;
}

.paragraph {
  text-indent: 50px;
}
