/* Use the font here */
/* $family-primary: "Same Font's Name"; */

/* Change bulma colors */
$body-background-color: #181A1B;
$text: #d4d4d4;
$link: #007acc;
$link-hover: #569cd6;

$navbar-background-color: #202021;
$navbar-item-color: #d4d4d4;
$navbar-item-hover-color: #d4d4d4;
$navbar-item-hover-background-color: #292929;
$navbar-burger-color: #d4d4d4;

$card-background-color: #292929;
$tag-color: #d4d4d4;
$tag-background-color: #202021;
$tag-radius: 0;
