/* Use the font here */
/* $family-primary: "Same Font's Name"; */

/* Change default bulma colors */
$body-background-color: #181a1b;
$text: #d4d4d4;
$link: #ffdd57;
$link-hover: #d9ae00;

$navbar-background-color: #181a1b;
$navbar-item-color: #d4d4d4;
$navbar-item-hover-color: #ffdd57;
$navbar-item-hover-background-color: #292929;
$navbar-burger-color: #d4d4d4;

$card-background-color: #292929;
$tag-color: #d4d4d4;
$tag-background-color: #202021;
$tag-radius: 0;
